.produto {
  margin: 2rem 0;
}

.produto_container {
  width: min(100%, 1200px);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;  
}

.produto_container .produto_img {
  width: 650px;
  height: 550px;
  border-radius: 10px;
}

.produto_container .produto_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;  
  object-fit: cover;
}

.produto_container .produto_infos {
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.produto_container .produto_infos .produto_infos_title {
  font-size: 3rem;
}

.produto_container .produto_infos .produto_infos_preco {
  margin-top: .5rem;
  font-size: 2rem;
  display: flex;
}

.produto_container .produto_infos .produto_infos_preco span{
  font-size: 1.5rem;
  color: #EA1D2C;
  margin-left: 0.5rem;
  text-decoration: line-through;
}

.produto_container .produto_infos .quantidade {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.produto_container .produto_infos .quantidade button{
  padding: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
}

.produto_container .produto_infos .quantidade p {
  padding: 1rem;
  border-radius: 4px;
  border: none;
}

.produto_container .produto_infos .quantidade button:hover {
  background-color: #EA1D2C;
}

.produto_infos .produto_infos_sobre {
  margin-top: 1rem;
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 5px;
}

.produto_infos .produto_infos_sobre h4 {
  margin-bottom: .3rem;
}

.produto_infos .produto_infos_sobre p:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.35rem;
  margin-bottom: 1rem;
}

.produto_container .btn_adicionar {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  background-color: #EA1D2C;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.3s;
}

.produto_container .btn_adicionar:hover {
  transform: scale(1.01);
}